/* ------------------------------------------------------------- */
/* BOOTSTRAP START */

/* Her retter vi standard farverne i Bootstrap */
$theme-colors: (
				"primary": #CA0185,
				"secondary": #A3D252,
				"danger": #ff4136,
				"success": #7A9E3E,
				"info": #FE57C5,
				"warning": #822,
				"light": white,
				"dark": #282828
);

/* Her retter vi margin og padding (p-1, p-2, pb-1.... og m-1, m-2, mt-1 osv) */
$spacer: 30px;
/* 15px svarer til 1rem, som er bootstraps standard */

/* Her importerer vi Bootstrap i vores egen css - Dvs bootstrap css filen skal ikke længere være i vores HTML dokument */
@import "../node_modules/bootstrap/scss/bootstrap";

/* Sørger for at man kan bruge gradients i bootstrap. Normalt er den slået fra. */
$enable-gradients: true;
/* Her retter vi noget fra bootstrap som ikke kan ændres via variabler */
ul ol {
	margin-bottom: 20px;
}

.h4 {
	line-height: 36px;
}

.btn-outline-primary, .btn-outline-secondary, .btn-outline-light {
	border-width: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	letter-spacing: 5px;
	border-radius: 0;
	font-size:14px;
}

.navbar-toggler, .navbar-toggler:active, .navbar-toggler:focus {
	outline: none;
	box-shadow: none;
	border: none;
}

.navbar-toggler:hover {
	color: white;
}

.navbar-nav {
	overflow-x:scroll;
}

/* width */
::-webkit-scrollbar {
	width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #1c1c1c;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #505050;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #323232;
}

/* BOOTSTRAP SLUT */
/* ------------------------------------------------------------- */
/* EGEN CSS START */

/* Her henter vi vores eget stylesheet (det der før hed styles.css) - nu har vi kaldt det _myStyles.scss */
@import "myStyles";

/* EGEN CSS SLUT */
/* ------------------------------------------------------------- */
/* EGEN RESPONSIVE CSS START */

/* Her henter vi vores tablet version _tablet.scss */
@import "tablet";

/* Her henter vi vores computer version _tablet.scss */
@import "computer";

/* EGEN RESPONSIVE CSS SLUT */
/* ------------------------------------------------------------- */
